.aui-login-ba {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #feab47), color-stop(1, #ff5200));
  min-height: 90px;
  width: 100%;
}
.aui-logon-con {
  padding: 20px;
}
.aui-login-l {
  padding-top: 34px;
}
.aui-login-l div {
  display: block;
  background: #ff7119;
  width: 100%;
  border-radius: 2px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
.aui-logon-con input {
  font-size: 12px;
  padding: 14px 2px;
}
.aui-login-wen {
  padding: 10px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.aui-login-wen a {
  color: #666;
  font-size: 12px;
}
.aui-login-wen-a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.aui-login-san {
  padding: 40px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.aui-login-san div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
.aui-login-logo {
  padding-top: 30px;
  width: 190px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font:700 24px/1.5 "";
  color:white;
}

.aui-login-qq {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAYAAAA5ZDbSAAAIgUlEQVR4nO1d3VnzPAzNCIzACGwAG8AGdAPYgNzl0fFF2KDd4GWDZgPYoN2g3YDvAqWfo7rpT+S/1ud5dEWxHR9LlmXZrqqCgoKCgoKCgoKCgoKCWwCAx16MMc/GmA8hz9ZvHmK3t+AAADwAeCOiFsASwAbA7yVCRCsASy7rrRAfARah/6aQeSbpcyJ6bZrmPvb3XyWaprlnjfo+g5gfAB3LFxHVtlh/6/i3p5L+TUSvbdvexe6X7EFEr6ypYx2+JqIFEdXGmKcpWgbgwRjzxAPgi4i2R+qeG2Oe9L74RsDErkY69ouI3kPMkQAeuK6vkfYsiejVd1uyxxFiOwCzmKaxbds7Ino/ZNKJaFWIdoDN4h6xRLQlojpF56ZpmnsiWhyap4sHXu06aW+O7YnNwZFhra5d8zURtTl8gxewV7zJlViJnmiHNm+I6CV2+4KBO8KltYsciZXgJV13k9rMHqmca9fXuNQgohcA65uZmwHMHObrM3a7fKJt2zvH8moDYBa7barg2K6ca29mXuJ1tBzcs9jtUgGAuSD3J8Vlj2/gL4Y+MNnGmI/Y7boYbJ7mYtR+Xb2jMQJ2MGWQZB67XRfBobmL2G1KAVdBciH3OGQUjIjeY7fpJAD4LOSeBkeocxa7TaOQS6FC7jhc5jrZ1QV7iQOHKnabcoCD5E1yqwxu5MoahT+37C2fC15x2Euo79htGsCOLRPRNrkRmAEcFjCNKJ+M0iQ7h1S7TnxEoumyyfUl75xskht11S6/6gN/6TRj6T99fHjJv3+M3O7OIngVdaoT237raA1hNE1zb4z5OIHQY7IBMI8x1bA/s7VIrkO3oaqqvzQbEVd9itKQatcp7URSD8kyNNFyuRnFpxFe8yJ4Axhw7zGrS+iNAQyTBpYh6x44A0S0jTVPsNPk/XSD3dGhvhXCqw5qIYX2RomhRiC3l+9QJItQZhgttueHWNobkdwdySG+k1cpYbVYaG/tvUIBGTWLKEGWhEG1OAXtPeGsUkjxHiiRWuy1TlgJZDG0lzMVY5NqS5B50dZibysWOZJCr804IB9z3nVKiHlRxBw2XioRcdLOSyWn15+MhIoBwNpt8hKjxvDw9Uy9giNIxLFySghfBMNMGd29dliL7hjOVYJzr9Ri77s+copU5UCYx+CZGiPHNJOQUGbazvxQHVQYes/BI1cpm2fuk1WIfsDQTOutw2F5rzF2NmITeIqE6AcxVelE0zAMeq9VCj0DclsyVQmxXOKl4q5OlXlY7BwtpjfzPORCcKj0GnseVhlUIopSTy7wTGD8dptkJOB6+NOqs9YocLfxHCNrIzZx50iI/lG3qIjoYOVini3xvoQUfdJNLtD+gOnNO7vuzwCkqIrvPhEBj2lxaXu0ENGPUhtPQqqbC8ckhJlWG1Dq5uAMpB6ejEywfczl8v3hyAQnuXt0TEL4KdByfDHM4FiotfAEZOhgBZvG1Ai2b24LuQZmR+Lku6ETkiBHP7MmGPEzJqeK9zSebAm+AnKD9FWWBF8LuSwbn0kRmgTbSxWvURrkOedG0WI1gkMtk5BhxCqmFmdFcI7LodhaDK39AdH5Xs7j4O8xq+hk5KTFdh1pFbZftrx45Bplptln9mYDEW0nFwituKcDqWdLKomqc+pju9Dbhn/q2ZJKonrURLwLMT2zEtopIv+XewvmuRc1y6fOh6+kd7iv+L9K0bR8sOIFKuUKTVMzNweeoLlK0Tos4CVttqqqSjz6pGJuDhHsemAqd9Ga2kRksdMos6oqP0dXXAT3j3XEJmQCkc7BqZUzDU/+kJd5+ADB71W1tzTLRhy3xvaiZfVWfZmqKxofRxelptoZI5nOz19V5bwUfXowoto/wqtR5gDi6OJkMy3uZPwc+VsWYpthDC8Uraf2FZdpm+eFRpmyAntkqsSlm6a5P2QNckq6k7lYPEAXcuBOAawNBi/noKSLHjr3KGXxnSorprO1t4owPAjm/SKwA28MpSbe+wHDHTd/9cnrfELc1ZE4yZ3v74cI6Xq3nBhe51N7rcxCojtPbyG/O0huOobOllctNsY88dWFySbjEdHK1+HvKJeRVlUYLcb+w5api/pd0sJqdZpljwKer5xHvluJandJR38yQTg+qtn8mUayfgHVWP3KKjf8K3JyhGnOQ5kTXGt+P8V8aEx4eGpv/OSaSqtBhnyLKsbFNzs43vj5p1U2lJPheSvy3RjzxN75CxEtFGPeayjsGmF4wmOt0JXT4NgVUrvqkDV50jVKTGw9Zl0ssi8JqHRQSo11DOo0nt5zBCFUG8Zx8BnPTR2Ox6g7btPskmnD0vL6gLx7yDD1piiTIcOJmvPxLQD7JyvTe3sZfy+Q2fNZsPeFcobjNqF1sv2G/VTYsE+yZQYm99uyfNtk5t1DcJA8j92mFCHJZYKTfXt5AEegopBswUWuliceDA7PuszJ1ZWQ26OQPITDW86X3B7SXHMQPW1HwgN4nXtd5PZwOF6/CJANkQpIvE7en+CI3S5VcDhwKz703zWbbNeNfVkshS5F0zT3jnjvhoheY7dNG8aYD4dJ7q55QO/gCKr/4i81NPuRzTHslfy+pGLLIcBOh+ug1jzaBvcEsDmeO75HZRsxS/Ca8NC+bxZE89Jnj9h+mzJ2+5IAd9KhLcB5jNdejsEY84zDd3x95TA4g4M3+J1EE9HKGPMRs+Pwt2PWOpynnROV4mBMDmNE9xExImqNMc8+vdK2be+MMc9E1I5d+UREi0LsBWCNOSVvasma9Qbg8RItZyfp0RjzwWUdu/12DeCzmGIlsNd9Vn4Wa91yTM65jI0dp8XVRaFSAqcHvQD4DHTqsCOiupjgSOgJ52S4BRNydios/0/HA6c2xjzdRNQpZwB46DMkDwluNQhRUFBQUFBQUFBQUFBwm/gPIbHklWVj3pgAAAAASUVORK5CYII=');
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
}
.aui-login-wb {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAYAAAA5ZDbSAAALNklEQVR4nO1d4XHzKBBNCS5BJbiDqINLB6cO8lRB1EHcQdyB3YHdQdyB3YHVge+H1meMFgRoAVnRm2G+mS8SLPvYZVkBfnubEQCs67p+B/BF5RvAYaB835+nd9e5+7Hg7X8yPwHsAPwCuAmXXwA7amMhPTYAFAqh1wiEDpWrQniRWx+zAIBVXdf/elroCcAeQKMUACi10mjlSO86WzjJtsqtp5dDXdf/kKUOKflI5JSSVgVgrQwCF9J3dV3/I9X+bEEWcR6wzgZAmVIuACsAHwA2AC4W+c51Xf+bUraXwACxFyK1yC3nHWThWwDtQrQFZBUmYrepLTUE1IejiWgAH7llTA4ABbo1qInYIreMvlCsmuvT4RX75A2ay74YBbRTc8OhoMFrIvoLc426aYRz7ng/B2J1UH851/2LuSVOKDnABU9lbtliA0DFBGNXAFVu2UaDXDK3nm1yy5YSpIc9o4fdy7psg0u+zM49ecBgzeeX0wmRq+eL9y87WgVBujkxLvs1SEaX4tPJRW65pgRy2XqkfZ18TEIuSF/+VLnlmioYfd0mqy8Dua/hdjLiJUhGl65byA0E6U8PvqaR4mQCqhYzTFzEBulRJTl/4GUgd7HcQDCeMB/JFAku5AqDmZPPWZaX6H8NmsacMQMwJO9SC9BMOuqbAZh1cppcAs27T99vkzT8B4F+xivuFEjzrppfPmWZHxIC/c30T4W2G0VRPLpvy2pkHXc+1tzGrIMqmL9fm8oVwA+E041MZL2RrF9tqMwyJ2QAs0LwLaKb7tDt5lTrL6XqVhtRN58fxRuYEJgoNrSI7N6gAae66l+JfqoNIOlknxmMtxpV6rr+FJBJH3QyHpRxV3HmgIkBfsdYXMqPgEzqHq8rJAIuPK95W5FKXwA0sIHHOae19vc1WZVtA7woyegvURuJTqrWW42qcMYgsm3HWkRIwfNKZpwV69Y7RrBUqOv6va7r91ztk9UPWXQ5ov5CZMAw1htWUUTgcbx0B37N+osMOXIiwTaHn0fWP96KaSROcu4lBf7Afa0qEhiCslqOz64GSK5GyKFbsX9Ejed1bxMqjCQUYkOi2DKwzRXM56h2toQG+qnGWFbsty5GP1orxggjAfBnmnzKPrBd/csZSxYMuQH0U41qCc4nMPW614Xn1FiQYqRAg03ikpVrYPtwrd9C8snwTjNSN2rU7j4NYSJLI3RLD7ELVwJlWKFzhyd0iYY9/dtylmzph5hXUerdDLXNvaSafotMwRXC51pRggdk5Nx3xTynB0V+pJjbX2v1Da8Y8Dx5b8cIEAKYD6yNLVHW8QzJR8NzbBJEoP2TUt+wm8bzejLpGpLIjXGpmU3x97X0D/ho+YzuNrzCIrP6PDvXw3DNg4DO1AFm9wiMK0nmniOTe4M23ykJEtf3jWeHGPJ6emMsXYpg/ctXYXtYDQZOYxv3EDI2uXeCvjHuprwrp0CdYEMfoxBMdat1VrYH1fk3yWfBRORKlp5eHAnmXPRFSIdq3Vvbg2flwSTzL+IEVDFLL2vkSPCJqesopEO3eVhrPPr8iwhLoRSF6Yfq+S7M303LJKkceWmTz/0hQUBu31PqcmH6skKHDfg5Goa6KiFd6gOo5B76UB44SjRsEWg9AaJCi3f2Cf1dkfdSCOpUrbc/veLZj2+lGmbaWcFvv/HUindsYiD4IqxXNQ5ouAf21gfkBPkRUvQJ3dzX4HEHdMG0t6a/fdCze4RvqLsE9llfq4rrWOOv72W0ERAlgob909lQaYnQDwgEgOjmLcB8kShXgk/5Eclbaq8ZKz9Tv+qBj9wDakfLCAKsEOaaj+gCsmhRPez3S+rlF9236UntDXchWM3ulJEFcHKHMeQYkLGAn/s+pJbRBAythTXBS+HGV3BPD7ZA3nNPAYPxJ6aHcZTZvszVBBYVFh1crdbZ9aGbj79g+D2kMb+jAP91+m9Okr0IjtC4S6755KIg+O+oDD7pB/P61eiyQ9qRQDaC4ZbUcCXX1ROwbjRQfp8o+wbkmV68CJZ0NQ6ktHDI6MA9yhUlGf6uOmhz31j4ElwKNjxkAZVDHb5Bj62EZKIunm2UIboag5wE2+bKi8P7a0FybwjY6OYwSPXShOhqDNDBSvApEsFjrVfCNY+y4gAP0oTqKxTIlckaUEQx8O7KU7EtKOsF/gr9e/H6DjtHgsUEtCnC4V3fAGejvGsjpa8Auxy+BCePpPHs6Y5DnRDbjwXz4avBTX3g16EnKB8c0M3Rd2vd0f+tYF979xVgl8N3Dk6epx40UHQIUoBHw2oZDHaYd08wLOEUkn8x/FHDq3/w24WZ5aC8JmPfg+A5zB51pEKrl7NCVxetE2y0DPh9itx6yB88TaQC+rFKyT1U+Cjfo/F1qCvTCL4MPOtDcOUh/5A30EvhWrcU0N9QwCeqBkdBuACmRMF24L298qw1QwT35VRrVEC/zslHzyQnnIwT8SJpm5szKlsXHIb160D9QSQMeB6uXMK0Mx6aIRxtD9rXUuOEOBkUY8wPo3+F3xXdDa/v6A6Nuf4UvJPHUNot4H+8pZTSlS/gelkOIu6NHrAI47rR0zolyF0HkFtJ6ckXjF7tSzTNYkphYWxkVQPvtY7K1ktrG0BaO+UrkUsyQ+2rywt75QXxkB/2YOjb8l4Bv2sDb/D4NXGEXfJSSeklFBjaLsu8oI4IsfWw1sbGorSDzc2gm5crPO7NUC31SB2u4B4pl/BfCrWYwGY7hNyXxbwUa4/0kNv9cbW+EFCAdgiw2qPr4IkNzRhvznJpZr+NKOAaw3neHZ3Gl9jsvkZ3CNzXYm/o1vKVQLfFgOd8u/uZKTwHQzL3Etvb+4DbrokDut2S/2I4C1bQxaSfMN9l6eqOm5j9DwH60XPl8/JKc5/uL48ADSzfLzexygUdJuGOdeA5jvH/wIHnaDdKsGVpu6AOnBKT2lK/J3UsRQf6Bwm2IZXowVYlLqm7HPeo2cWN+5Yj6IRijv6FAP0ceRFakeouk1qxCTR6S3KfDR5XC9rIv+CxhGpowJS5+xICxnrDr0NE/zNUKSfqghAw1luOrVC1Ytnf61ngBcZ6jxKV6lY82188mzrQT/OWUhXvlUqjr4sX9MEYmtw93uhfTb8Vq3yBE/CctWqDI2dLA7KT+wJn0IpB1X0TqyF1KXJeXHV8oL8B4RKzMX0eSPvb8n8M4Dfwl7Eb3SxRdRqgf6dYmj3XSP3b8n8Q6G9vSnZ/NxdVsxdlLwgDM+/KR80OQnxoIyzrLTNzAUPuDRl+f/EujL50WkgeAfD7sZvcQunps2xXCb0yDBHzNrdcb29vPMmLJbtj0uTewUTWi7t2gGHOTRcxuwL87+X+LtG1GSZyJ2sYePyQoyqw8Vc5/zJoFaKTu80tlxMYkm91XX/mlmsqQLc3W99WtM0tlxfAH0/ZTdb9JAAtg7jLYZrcsgUB/PGUM/7gp0aDS24xsdMS3qBAQg++bpjAJdopQFZ7YPp/mk1sYgi+bgCuc52bqc9fTJ/TfRVKDXJTusu+J0bK3PJJgc5OnZl+tsiVV04FGtlcAHYDcBhzDX9uWIi9UZ9nPyX9D9iPjgZfw58a6C6D+bQQe5zNXBsCirRNx06uFIyVueXU4XDDz+TOE2cFEc1F2+ry6ruu6/dM8t2vbfqG/aKW40KsBeg29rmcET6Qa4zm/ug+ri+4XfVwnKKnmSzQrR8bi/vmLPyA7qK0Tzrd/04kFVz92jNfZJ0Hy3zKuWFw9S/wAAVksc4H+5YLXuCQ+MsC8Q+EmwitFkvNACK8JHe+obmwDSCypXc3ePwmcZG7fwsGgMeNAFz5O4mHBQsWLFgwNfwHVsOk7VCPpAcAAAAASUVORK5CYII=');
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
}
.aui-login-wx {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAYAAAA5ZDbSAAAKiElEQVR4nO1d3VXjPBB1CVvClkAH0MHSAekgdEDeOHP1YDogHUAHcQfQAekg6YDvIeNvs4okayRZP8H3nHnhEEvW9fxJI6nrFixoGQBuXVK6fwsmAOBGKfVHKfUE4BXADsB3oOwAvCqlnpRSfwDclH6/HwcANwDWRPQG4BBBpq8cuK31QvhMYG16zUToJOGs5X9Kj0vTAHBDRD0RfYWSQURHAINL+H9Cn/9FRP2i2QIQ0QOADymJRLQhokel1F3f97+k7fZ9/0spdUdEj0S0CSD/g4ge5hiTqwARPfhoKw/6OxE95tActiSP3OYk4azVC9EjcAqYnMQS0ZGItkqpu9L9ZS3fTpH944nmgZrS2HcAq9J9tQHAivvoJLqGDzMb+r7/xWmHa1C2z8/Pv0v31RfPz8+/iWg78U5vIbFBU8AplzSmOmyGNy0Rq+P5+fk3gBeH+T4AWJfuZ3J4aO3LNX3dfd//AvDyI7SZo1CjryWiz2vOITnO+LT55ubfnU2yzRw/lu5fLnBubTPbbZpsnKYWjVrbsp8NBQdiRm0G8Fq6f95w+Vsi2pTuX2nYfHMTfpmDi4tpRiI6/qhccAJEdG8x2R/Vkuwg90ea5Ck4THZ9JLvIra6zFYHdWd0k28gFMFTTyYrB4zdUS7IpoCKibel+tQbTVCcRvRXtlCUVGop2qmFYNLlMCsVrpIvPTQibT84+KYRT4dtC7gxwBF55pjW5A18aucecqRAM9c3XlIpxCnXUxvgriwKZgqq5JjEA3CqlnrhN3zqtA4AdF+w9tEo8Ed1nD7osfneT6vlsHR6mCgKk0mr1IwzTmrP5Y17MPmiNfSZ89qv+/DmE3cu6lXjB4I8Ps/Rd16oUfveM2FlJtZlypdRT7URb/PE2aSNKqbuUpoJNcV+IWJPPrnpN1uQak8Y9hqg52DR7VlOWkF3NAZluqonoK8mDcSoN1QcjKFjhHYCliXRqMxHdJxm4xDBZUaQoKTZo20vIc1DO14qFiProgZsB0KLqaC3WtZeIjtKgxLHaVLtUV0bDsYteKLAKfqDB926kz0DchuzSUh3JybRY114A39IgBA2Z5VZI5tRS7+NK/CBoZlWae5lC+4ZFPoAzwrB2/CF6AAyrRRLt5d+Hzkq9817fDSY2dvnIuDNxfKajdNUlh5pSKIsW+2c2uJwDfZd0AAF+11acZ0kPop7JH4/0eTvJGMwNw8fvn90YUqOV4LcXqyA+4tKQqZ17Ftm7In6YqyemxHsc5gYuMxy/YEsniIiOkoYDZ6kGSZ88xflFh2hxstmjRDDMUU9P0ujaIgmuIsyp0wWEPHcqpQs001VpcRBX0IIjyaQ2woMi5xIYHFsxHeKMLAPN/jcq8sWGD//g/AG06FlqngMHbBRjvmlah459ZkzgBsjnA+aEYWbLHk0bclfv6Dk0uNI+qC+ctpzeslhPBJBoMp2OZroFcJtimbKmra/QrKazb6J/1hDh06oUzpfH87f+EdTlh/2V0qAt3skzwtKOaoSIPolo09ouSFxOSpn9sP6PmdKj0qRaD37B34rOHqeJmx3+Tt8exr8R0dt4Om2p8h8vP2zwoYOkkdJkhRB7TggHc2vEr359AFhnrhMftPe7zId1HypdGixNmkD+OdGHS4iSlumeyY4ynHbnxZ0hL1xJGqmAOB+t/f/L5lQpVlt95WNO364HWsYJD2hqLu1QaQInyP1/0aFkRSfNdA6HIa8fJgmSdiRwGS4LueO7wHFmV0ZJXtjHZVH/tHPxT5P/MAFUmCZp5K5Qx4nx3wC+lVJPCbj1508bGFGK1HVVTnTsNXJL98ckycqBnAR72fAJpJiqTCWcF97wi9dKblKS4YqhUhBsKeksRfAjv3RM6VBOWVVPcNdFLcGllOHsg/uqoD++ErW1NQvBsctwKWR8MYStIReT2B38WQg2NZRZhq6zVh1OyX5MX3BKpzZSlzNOf7L1uAewl/6+eoJLavEZQaLKEtteZ0ngaCKH81MJycGbu7MRzI1F1zMHyL7rgrXXuobqS5CNGGn6GKrFWQkuFFG/8ICG7KiwEuwbqKUiGFN1VRY4CeZ/iG7kHLlN9Zl5DtnJeIAhioUgh3aY6JA0TRxR68+Q/0MAJAMUK11nnpOVkDwu2iOwdot/c4NTkOZ1k5vvx+Ix1jKCU616IE+6su+6OtK0RDJIxth3sSFqudCFDBMgA7dzFTsapTsovGKo2AX/KWBecz3wO9S24BEskrH1WvCPLdnx7IjtroLYL35jeoeWRTiuXiU7UUV3vsApAEldHDCmSD+SYPgU3cG3vjYBZgiGhq67KoL3kvGEbz27aJ9LBJA+sh64/9WsSad4H8+x9K9nR8TWFQlSL+ONUWfgNGV1Iol/RFtXYjaf+UL/4lLJuFgA4QpOpSLZMiTafDa7H4bbPA9j/s2nrN6zXx2miBsDi0qKDmJkLxxP2X4y3Q+nLti2mOfBtx0AN0qpO11GDW59NkviFvV39SqWjDnCYQq4tBDexArbadVMOw+O0RHElSESTWam8dc8z0LsWTu1V1LaZCV8T/0Efr+CeoMGiBq2gYi2ufbfosJC/AkZhO+nf8R7yY+jDkKrAZgpWp9DKOAUX8QchGYanJoOHvFFQ6tLogml6KMMeXD0I+S3ogdUggbSplXsO1HIFQtIcJxwLaiY5JX0XZIdJ9x1l8HWHEuIuVAhyauQ98BlfLQPHhSDFs9zKVMm1LDaRETH0EzCUsS3ihoUXYsReClHLeDZnyITIWQ53tgXSbX37KGmSYOm7gDUwXXb4q0pCUR2MvsZZrtWp+uMWhzc0ZrACxrbnESHajAur1hIcm9k13Xpr7arDezbVqlKiSaes5L2z5TPJ58RxOXMSVX3GKTCSDb7O5/pzj3+nml5PwahrBSm34tmBS23vm5neXGDKbsKU+0D0xKlz+9M20gl7RpMs3ha0xuWqb+mo+pcYBdwZJK8Vn2Q84Los0YvtoamPvfpWjFG7z5KYSkgnH/Rx7Kp+Sr9cSnAfHiMqBggRQcucryWZ7lqgeMyz7xzDxZ/vJAcARu5xVJSywR+NbeStAYYTr8tvkxrCrpQ2Y2dLQDmm1rLV9JwZGiaudkt5noabJZNmvtZzfg5SF58sgMOn1sPuSNcJC8p1CU4E2mD3BEOkpMfgt0yeBLj4vSdqskdwWbHeBAaEfWl+1cajtN73qsn9xyOGqgfabJ5Vch4hlfxVCgUjrrkA4B16f7lAhx3MDa/rs7BhK0G6iP7FFxG8Jqw7eS9/dW8u8svj765Kf8zAY+re9ryt74gokdH/dNBKfXUsn/mGq/eYY6PzZvkKfDXPVWE/toS0RxAmaYa/wmkrlJrbfCpTyaiN8pw918o+MDRqXsP961dWZsUOBW4TRWiHwC81jBQ/GG+2sywFkStSve3GngSPc6KvXHqMXsUylnAmtv0Oft5IdYFyOuTDwB2SqknJv02xNeN50QDWPOzdp6Eju7kcyFWANacF0+tdsluQmKevec+Xkc+Wwp8XlbWLSYOTT1yX5bFkzmA02m1jwDecxDObbxzm4um5gYTfs9bR7aIO11nYO3c8JLeQmjtMG05kW4/WbCgWvwHecHe7uNejq8AAAAASUVORK5CYII=');
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
}
.dot {
  animation: sploosh 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.dot2 {
  animation: sploosh2 2.5s cubic-bezier(0.165, 0.84, 0.44, 2);
}
.dot3 {
  animation: sploosh3 2.5s cubic-bezier(0.165, 0.84, 0.44, 3);
}
.dot,.dot2,.dot3{
  height:20px;
  width: 100%;
  font-size: 40px;
  color: #fff;
  text-align: center;
  border-radius:100% 100% 0 0;
  position: absolute;
  z-index: 10;
  animation-iteration-count:3;
  -webkit-animation-iteration-count:3; /* Safari å’Œ Chrome */
  background: transparent;
}
@keyframes sploosh {
  0% {
    box-shadow: 0 0 0 10px rgba(255, 220, 1, 0.7);
    background: rgba(255, 220, 1, 0.7);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 220, 1, 0);
    background: rgba(255, 220, 1, 0);
  }
}
@keyframes sploosh2 {
  0% {
    box-shadow: 0 0 0 30px rgba(255, 220, 1, 0.7);
    background: rgba(255, 220, 1, 0.7);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(255, 220, 1, 0);
    background: rgba(255, 220, 1, 0.3);
  }
}
@keyframes sploosh3 {
  0% {
    box-shadow: 0 0 0 50px rgba(255, 220, 1, 0.7);
    background: rgba(255, 220, 1, 0.7);
  }
  100% {
    box-shadow: 0 0 0 60px rgba(255, 220, 1, 0);
    background: rgba(255, 220, 1, 1);
  }
}
.b-line {
  position: relative;
}
.b-line:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.501);
  transform: scaleY(0.501);
}
input {
  -webkit-appearance: textfield;
  background: none;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 0;
  border: 0;
  font-size: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.back-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.bar-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  display: block;
  width: 56px;
  height: 32px;
  line-height: 32px;
  font-size: 17px;
  border: none;
  box-shadow: none;
  background: none;
}